footer>div {
    background-color: rgba(0, 0, 0, 0.2);
}

span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-
}