footer>div {
    background-color: #4e9483;
    color: white;
}

span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

div>header {
    background-color: #3B7063;
}

.logout:hover{
    border: 1px solid rgb(60, 60, 60);
    color: white;
    background-color: darkgray;
}