.usuario {
    margin-top: 50px;
}

h2,
h3,
h4 {
    margin-bottom: 50px;
    font-family: 'Orbitron', serif;
    color: #3b705d;
}

h4 {
    font-size: larger;
}

.circle {
    width: 350px;
    height: 350px;
}


.distortedTemp,
.distortedHum,
.distortedPer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.distortedTemp {
    border: 4px dashed #ec8939;
}

.distortedHum {
    border: 4px dashed #3c90f0;
}

.distortedPer {
    border: 4px dashed #e385a4;
}

.btn-circle {
    border: none;
    width: 270px;
    height: 270px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-family: 'Orbitron', serif;
    font-weight: bold;
    color: #6c6c6b;
    font-size: x-large;
}

.sensorIcon {
    width: 130px;
}

.actuadorIcon {
    width: 40px;
    margin: 5px;
    margin-top: 20px;
}

.actuadores {
    width: 130px;
    height: 130px;
}

/* dependiendo de que actuador este encendido o apagado se le cambia esto */
.apagado {
    background-color: #8edd8b;
    border-radius: 10px;
}

.encendido {
    background-color: #f8ad96;
    border-radius: 10px;
}


#temperaturaSpan {
    /* Temperatura alta */
    /* color: #ec3f39; */
    /* Temperatura normal */
    color: #ec8939;
    /* Temperatura baja */
    /* color: #ecc239; */
}

#humedadSpan {
    /* Humedad alta */
    /* color: #1d7eee; */
    /* Humedad normal */
    color: #3c90f0;
    /* Humedad baja */
    /* color: #89baf1; */
}

#personasSpan {
    color: #e385a4;
}

#temperatura {
    /* Temperatura alta */
    /* background-color: #ec3f39; */
    /* Temperatura normal */
    background-color: #ec8939;
    /* Temperatura baja */
    /* background-color: #ecc239; */
}

#temperatura:hover {
    /* Temperatura alta */
    /* background-color: #e9544f; */
    /* Temperatura normal */
    background-color: #eb9854;
    /* Temperatura baja */
    /* background-color: #e9c756; */
}

#humedad {
    /* Humedad alta */
    /* background-color: #1d7eee; */
    /* Humedad normal */
    background-color: #3c90f0;
    /* Humedad baja */
    /* background-color: #89baf1; */
}

#humedad:hover {
    /* Humedad alta */
    /* background-color: #378cec; */
    /* Humedad normal */
    background-color: #5ea3f1;
    /* Humedad baja */
    /* background-color: #a4c6ee; */
}

#personas {
    background-color: #e385a4;
}

#personas:hover {
    background-color: #e09cb3;
}

.detalles {
    background-color: #3b705d;
    padding-left: 90px;
    padding-right: 90px;
    border: 0;
}

.detalles:hover {
    background-color: #4e9078;
    border: 1px solid #3b705d;
}